/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-size: 14px;
  line-height: 200%;
  font-family: "游ゴシック", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif;
  color: #333;
  background-color: #fff;
}

@font-face {
font-family: YuGothicM;
font-weight: normal;
src: local('YuGothic-Medium'),  /* Mediumを明示的に指定 */
     local('Yu Gothic Medium'), /* Chrome用 */
     local('YuGothic-Regular'); /* Windows8.1ではMediumがないのでRegularを指定 */
}

@font-face {
font-family: YuGothicM;
font-weight: bold;
src: local('YoGothic-Bold'), /* Boldはそのまま */
     local('Yu Gothic');     /* Chrome用 */
}

html {
  min-height: 100%;
  position: relative;
  background-color: #fff;
}

a {
  color: #333;
  transition: 1.0s;
}

a:hover {
  color: #a3ce71;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* PC表示・SP非表示 */

.pc {
  display: block;
}

.sp {
  display: none;
}


/* 位置 */

.center {
  text-align: center;
}

.right {
  text-align: right;
}

/* 文字（色） */

.white{
  color: #fff;
}

.gray {
  color: #b4b4b4;
}

.light-gray {
  color: #e6e6e6;
}

.green {
  color: #a3ce71;
}

/* 文字（サイズ） */

p {
  margin: 0 0 40px 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 200%;
}

p.p0 {
  margin: 0;
}

p.p1 {
  margin: 0 0 20px 0;
}

p.p2 {
  margin: 20px 0;
}

.box1 p, .contents-wrap1 p, .box6 p, .bg-box3 p {
  font-size: 14px;
  line-height: 200%;
  font-weight: normal;
}

.txt8 {
  font-size: 8px;
  font-weight: normal;
  line-height: 140%;
}

.txt12 {
  font-size: 12px;
  font-weight: normal;
  line-height: 180%;
}

.txt16 {
  font-size: 16px;
  font-weight: normal;
  line-height: 180%;
}

.txt22 {
  font-size: 22px;
  font-weight: normal;
  line-height: 140%;
}

.txt28 {
  font-size: 28px;
  font-weight: normal;
  line-height: 140%;
}

.txt32 {
  font-size: 32px;
  font-weight: normal;
  line-height: 140%;
}

.txt40 {
  font-size: 40px;
  font-weight: normal;
  line-height: 140%;
}

.txt50 {
  font-size: 60px;
  font-weight: normal;
  line-height: 130%;
}

.txt80 {
  font-size: 80px;
  font-weight: normal;
  line-height: 130%;
}

/* 文字（その他） */

.bold {
  font-weight: bold;
}

/* ライン */

.hr1 {
  border: 1px solid #e6e6e6;
  margin: 30px 0 80px;
}

/* マージン */

.padding-b10 {
  padding-bottom: 10px;
}

.padding-b20 {
  padding-bottom: 20px;
}

.padding-r5 {
  padding-right: 5px;
}

.margin-t20 {
  margin-top: 20px;
}

.margin-b40 {
  margin-bottom: 40px;
}

.margin-b80 {
  margin-bottom: 80px;
}

/* ボタン */

.btn1, .btn2, .box8-2 li .btn2 {
  font-size: 12px;
  background-color: #333;
  text-align: center;
  border: 0;
  width: 100%;
  position: relative;
  padding: 0;
}

.btn1:before {
  content: "<";
  position: absolute;
  top: 50%;
  left: 30px;
  margin-top: -8px;
  color: #fff;
  font-size: 14px;
}

.btn2:before {
  content: ">";
  position: absolute;
  top: 50%;
  right: 30px;
  margin-top: -8px;
  color: #fff;
  font-size: 14px;
}

.btn1 a, .btn2 a {
  display: block;
  color: #fff;
  padding: 20px 0 15px;
  text-decoration: none;
}

.box8-2 li .btn2 a {
  display: block;
  color: #fff;
  margin-top: auto;
  padding: 20px 0 15px;
  text-decoration: none;
}

.btn1 a:hover, .btn2 a:hover, .box8-2 li .btn2 a:hover {
  color: #fff;
  background-color: #a3ce71;
}

.btn3 {
  font-size: 18px;
  background-color: #a3ce71;
  text-align: center;
  border: 0;
  width: 100%;
  position: relative;
  padding: 0;
}

.btn3 a {
  display: block;
  color: #fff;
  padding: 35px 0 25px;
  text-decoration: none;
}

.btn3 a:hover {
  color: #fff;
  background-color: #ec942e;
}

/* 見出し */

.midashi1 {
  color: #333;
  font-size: 18px;
  font-weight: bold;
  background-color: #f8f8f8;
  margin: 30px 0 0 0;
  padding: 15px 20px 10px;
  text-align: left;
}

/* ヘッダー */

header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid #333;
  background-color: rgba(255,255,255,0.8);
  z-index: 9999;
}

:target:before {
   content: "";
   display: block;
   height: 120px;/* ヘッダの高さ = 50px */
   margin: -120px 0 0;/* ヘッダの高さ = 50px */
}

header ul {
  display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -moz-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
  width: 1000px;
  margin: 0 auto;
  padding: 13px 0 10px;
  font-size: 16px;
}

header ul li {
  margin-left: 30px;
  padding: 17px 0 0 0;
}

header ul li:first-child {
  margin-right: auto;
  margin-left: 0;
  padding: 12px 0 10px;
}

header ul li a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

header ul li a:hover {
  color: #a3ce71;
}

/* フッター */

footer {
  width: 100%;
  background-color: #333;
  padding: 90px 0 30px;
  font-size: 12px;
}

.footer-menu1 {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  width: 1000px;
  margin: 40px auto 20px;
}

.footer-menu1 dl {
  width: 150px;
  margin: 0 40px 0 0;
}

.footer-menu1 dt {
  margin: 40px 0 0 0;
  font-size: 14px;
}

.footer-menu1 dt a {
  color: #fff;
  text-decoration: none;
  transition: 1.0s;
}

.footer-menu1 dd {
  margin: 10px 0;
  padding: 0;
}

.footer-menu1 dd a {
  color: #fff;
  text-decoration: none;
  transition: 1.0s;
}

.footer-menu1 dt a:hover, .footer-menu1 dd a:hover {
  color: #a3ce71;
}

ul.footer-menu2 {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  width: 1000px;
  margin: 0 auto;
  color: #787878;
}

ul.footer-menu2 a {
  color: #787878;
  text-decoration: none;
}

ul.footer-menu2 li:first-child:after {
  content: '|';
  padding: 0 5px 0 10px;
}

ul.footer-menu2 li:last-child:after {
  content: '';
}

ul.footer-menu2 li:last-child {
  margin-left: auto;
}

/* hタグ */

h1.h1 {
  font-size: 34px;
  text-align: center;
  margin: 0;
  padding: 40px 0 35px;
  border-bottom: 1px solid #333;
}

h1.h1 p {
  font-size: 12px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.box1 h3, .box6 h3 {
  border: none;
}

/* パンくず */

.breadcrumb {
  width: 1000px;
  margin: 0 auto;
  padding: 20px 0 15px;
  font-size: 12px;
  color: #969696;
  background-color: #fff;
}

.breadcrumb li {
  display: inline;
  list-style: none;
}

.breadcrumb li:after {
  content: '>';
  padding: 0 5px 0 10px;
}

.breadcrumb li:last-child:after {
  content: '';
}

.breadcrumb li a {
    text-decoration: none;
    color: #a3ce71;
    font-weight: normal;
}

.breadcrumb li a:hover {
    text-decoration: none;
}

/* 背景 */

.bg {
  width: 100%;
  margin: 80px 0 0 0;
  background-color: #fff;
}

.bg-box1, .bg-box3 {
  width: 100%;
  margin: 0;
  padding: 60px 0;
  background-color: #f8f8f8;
}

.bg-box2 {
  width: 100%;
  margin: 0;
  padding: 60px 0;
  background-color: #f3fae1;
}

/* ボックス */

.box1 {
  width: 1000px;
  margin: 0 auto;
  padding: 40px 0;
}

.box2 {
  width: 1000px;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
}

.box2-1-1:nth-child(even) img {
  margin: 0 0 0 20px;
}

.box2-2:nth-child(odd) {
  width: 48%;
  margin: 0 20px 10px 0;
  padding: 0;
}

.box2-2:nth-child(even) {
  width: 48%;
  margin: 0 0 20px 10px;
  padding: 0;
}

.box2-2 .obi {
  width: 100%;
  height: 85px;
  color: #fff;
  background-color: #a3ce71;
  margin: 0;
  padding: 0;
}

.box2-2 .obi a {
  font-size: 16px;
  color: #fff;
  height: 85px;
  margin: 0;
  padding: 20px 20px 15px 20px;
  display: block;
  text-decoration: none;
}

.box2-2 .obi a:hover {
  height: 85px;
  background-color: #333;
}

.box2-2 p {
  margin: 0;
  padding: 0;
}

.box2 img, .box2-2 img {
  max-width: 100%;
  height: auto;
}

.box3, .box4 {
  width: 1000px;
  margin: 0 auto;
  padding: 0 0 40px 0;
  display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -moz-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
  flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.box3 img {
  float: left;
  margin: 0 15px 0 0;
}

.box3 p {
  overflow: hidden;
}

.box3-1:nth-child(odd) {
  width: 48%;
  margin: 0 20px 30px 0;
  padding: 0;
}

.box3-1:nth-child(even) {
  width: 48%;
  margin: 0 0 30px 10px;
  padding: 0;
}

.box4-1:nth-child(odd) {
  width: 48%;
  height: 100%;
  margin: 0 10px 20px 0;
  background-color: #fff;
  padding: 20px 20px 15px 20px;
  text-align: center;
}

.box4-1:nth-child(even) {
  width: 48%;
  height: 100%;
  margin: 0 0 20px 10px;
  background-color: #fff;
  padding: 20px 20px 15px 20px;
  text-align: center;
}

.box4-1 img {
  max-width: 100%;
  height: auto;
}

.box4-1 img:hover {
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.box4-2 img {
  max-width: 100%;
  height: auto;
  margin: 0 0 20px 0;
}

.box4-2 {
  color: #333;
  font-size: 12px;
  line-height: 160%;
  width: 23%;
  margin: 0 20px 20px 0;
  padding: 30px 25px 20px 25px;
  background-color: #fff;
  text-decoration: none;
}

.box4-2:nth-child(4n) {
  color: #333;
  font-size: 12px;
  line-height: 160%;
  width: 23%;
  margin: 0 0 20px 0;
  padding: 20px 20px 15px 20px;
  background-color: #fff;
  text-decoration: none;
}

.box4-2 a:hover {
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.box4-3 {
  width: 300px;
  margin: 20px 50px 20px 0;
  font-size: 14px;
  line-height: 180%;
}

.box4-3 img {
  max-width: 100%;
  height: auto;
  margin: 0;
}

.box4-3:nth-child(3n) {
  width: 300px;
  margin: 20px 0 20px;
}

.box4-3 a, .box4-3:nth-child(3n) a {
  color: #333;
  padding: 0;
  text-decoration: none;
  display: block;
}

.box4-3 a:hover, .box4-3:nth-child(3n) a:hover {
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.box5, .box10 {
  width: 1000px;
  margin: 0 auto;
  padding: 0 0 40px 0;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
  justify-content: center;
}

.box5-1 {
  width: 18%;
  margin: 0 20px 20px 0;
  font-size: 12px;
  line-height: 160%;
  text-align: center;
  color: #fff;
  padding: 20px 20px 15px 20px;
  text-decoration: none;
  display: block;
  background-color: #a3ce71;
}

.box5-2, .box5-3 {
  width: 18%;
  margin: 0 20px 20px 0;
  font-size: 12px;
  line-height: 160%;
  text-align: center;
}

.box5-2 a {
  color: #b4b4b4;
  padding: 20px 20px 15px 20px;
  text-decoration: none;
  display: block;
  background-color: #e6e6e6;
}

.box5-2 a:hover {
  color: #fff;
  background-color: #a3ce71;
}

.box5-3 a {
  color: #fff;
  padding: 20px 20px 15px 20px;
  text-decoration: none;
  display: block;
  background-color: #a3ce71;
}

.box5-3 a:hover, .box5-5 a:hover {
  color: #fff;
  background-color: #333;
}

.box5-5 {
  width: 18%;
  margin: 0 20px 20px 0;
  text-align: center;
}

.box5-5 a {
  color: #fff;
  padding: 13px 20px 10px 20px;
  text-decoration: none;
  display: block;
  background-color: #a3ce71;
}

.box5-5 a:after {
  font-family: 'FontAwesome';
	content: "\f08e";
  padding: 0 0 0 20px;
}

.box6 {
  width: 1000px;
  margin: 0 auto 60px;
  padding: 80px 40px 40px 40px;
  background-color: #fff;
}

.box6 img {
  max-width: 100%;
  height: auto;
}

ul.box7 {
  display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -moz-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
  flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
  justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
  width: 100%;
}

ul.box7 li {
  width: 31%;
  list-style: none;
  margin: 0 0 40px 0;
  line-height: 160%;
}

ul.box7 img {
  max-width: 100%;
  height: auto;
}

ul.box7-1 {
  display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -moz-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
  flex-direction: row;
  text-align: center;
}

ul.box7-1 li {
  width: 100%;
}

ul.box7-1 li:nth-child(2) h3 {
  padding: 140px 0 0 0;
}

ul.box7-2 {
  display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -moz-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
  justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
  width: 100%;
}

ul.box7-2 li {
  width: 50%;
  list-style: none;
  margin: 0;
  line-height: 180%;
}

ul.box7-2 li:first-child {
  border-right: 2px solid #e6e6e6;
  padding: 0 50px 0 0;
}

ul.box8-1 {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
  width: 100%;
}

ul.box8-2 {
  display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -moz-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
  flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
  justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
  width: 100%;
}

ul.box8-1 li {
  width: 23%;
  list-style: none;
  margin: 0 20px 20px 0;
  padding: 0;
  background-color: #fff;
}

ul.box8-2 li {
  width: 32%;
  height: 330px;
  font-size: 12px;
  line-height: 180%;
  list-style: none;
  margin: 0 0 20px 0;
  padding: 40px 20px 20px 20px;
  background-color: #fff;
}

ul.box8-1 li p {
  margin: 0;
  padding: 0 15px 10px 15px;
  font-size: 8px;
  line-height: 140%;
}

ul.box8-2 li p {
  height: 160px;
  margin: 0;
  padding: 0 15px 20px 15px;
}

ul.box8-1 li a, ul.box8-2 li a {
  color: #333;
  height: 100%;
  font-size: 12px;
  padding: 0;
  text-decoration: none;
  display: block;
}

ul.box8-1 li a:hover, ul.box8-2 li a:hover {
  height: 100%;
  background-color: #a3ce71;
}

ul.box8-1 li a:hover span, ul.box8-1 li a:hover p, ul.box8-2 li a:hover span {
  color: #fff;
  font-weight: normal;
}

ul.box8-1 img {
  max-width: 100%;
  height: auto;
  margin: 0 0 20px 0;
}

.box9 {
  width: 1000px;
  height: 600px;
  margin: 0 auto;
  padding: 40px 0;
  position: relative;
}

.box9 img {
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
}

/* トップページ */

.top_bg {
  position: relative;
  margin: 80px 0 0 0;
  width: 100%;
  height: 0;
  padding-top: calc(500 / 1000 * 100%);
  background: url(images/top_main.jpg) center center / cover no-repeat;
}

.top_bg .top_txt {
  position: absolute;
  top: 120px;
  right: 0;
  left: 0;
  width: 1000px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: normal;
}

.top_bg .top_txt h2 {
  margin: 0 0 40px 0;
  border: none;
}

.top_bg .top_txt p {
  margin: 0 0 0 20px;
}

.top_hoiku_bg {
  position: relative;
  margin: 0;
  width: 100%;
  height: 0;
  padding-top: calc(500 / 1000 * 100%);
  background: url(images/top_hoiku.jpg) center center / cover no-repeat;
}

.top_hoiku_bg .top_hoiku_txt, .top_fukushi_bg .top_fukushi_txt {
  position: absolute;
  top: 100px;
  right: 0;
  left: 0;
  width: 1000px;
  margin: 0 auto;
}

.top_kaigo_bg {
  position: relative;
  margin: 0;
  width: 100%;
  height: 0;
  padding-top: calc(500 / 1000 * 100%);
  background: url(images/top_kaigo.jpg) center center / cover no-repeat;
}

.top_kaigo_bg .top_kaigo_txt, .top_manabi_bg .top_manabi_txt {
  position: absolute;
  top: 120px;
  right: 0;
  left: 0;
  width: 1000px;
  margin: 0 auto;
  text-align: right;
}

.top_fukushi_bg {
  position: relative;
  margin: 0;
  width: 100%;
  height: 0;
  padding-top: calc(500 / 1000 * 100%);
  background: url(images/top_fukushi.jpg) center center / cover no-repeat;
}

.top_manabi_bg {
  position: relative;
  margin: 0;
  width: 100%;
  height: 0;
  padding-top: calc(500 / 1000 * 100%);
  background: url(images/top_manabi.jpg) center center / cover no-repeat;
}

.top_hoiku_bg .top_hoiku_txt h3, .top_fukushi_bg .top_fukushi_txt h3, .top_kaigo_bg .top_kaigo_txt h3, .top_manabi_bg .top_manabi_txt h3 {
  margin: 0 0 40px 0;
  border: none;
}

.top_hoiku_bg .top_hoiku_txt p, .top_fukushi_bg .top_fukushi_txt p, .top_kaigo_bg .top_kaigo_txt p, .top_manabi_bg .top_manabi_txt p {
  font-size: 14px;
  line-height: 200%;
  font-weight: normal;
}

/* モーダルウィンドウ */

.modal-window {
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  opacity: 0;
  line-height: 1.3;
  display: none\9;
}

.modal-window:target {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}

.is-active.modal-window {
  display: block\9;
}

.modal-window:target {
  display: block\9;
}

.modal-window .modal-inner {
  position: absolute;
  top: 100px;
  left: 50%;
  z-index: 999999;
  margin-left: -400px;
  width: 800px;
  overflow-x: hidden;
  background: #fff;
  padding: 40px;
  text-align: center;
}

.modal-window .modal-inner table {
  border: none;
  display: table;
}

.modal-window .modal-inner table td {
  font-size: 12px;
  line-height: 160%;
  vertical-align: top;
  padding: 0 10px;
  border: none;
  display: table-cell;
}

.modal-window .modal-inner table td.td-img {
  width: 350px;
}

.modal-window .modal-close {
  display: block;
  text-indent: -100px;
  overflow: hidden;
}

.modal-window .modal-close:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  background: #333;
  opacity: 0.9;
}

.modal-window .modal-close:after {
  content: '\00d7';
  position: absolute;
  top: 80px;
  left: 50%;
  z-index: 99999;
  margin-left: 350px;
  background: #fff;
  padding: 2px 8px;
  font-size: 1.2em;
  text-decoration: none;
  text-indent: 0;
}

.modal-window {
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

/* NEWS */

.news-bg {
  width: 1000px;
  margin: 0 auto;
  padding: 0 0 50px 0;
  list-style-type: none;
}

.news {
  width: 1000px;
  display: table;
  border-bottom: 1px solid #e6e6e6;
  padding: 40px 0;
}

.news1 {
  width: 100%;
  display: table;
  border-bottom: 1px solid #e6e6e6;
  padding: 20px 0 17px;
}

.news-thumnail {
  width: 400px;
  display: table-cell;
}

.news-thumnail1 {
  width: 100%;
  margin: 0;
  padding: 0;
}

.news-thumnail img, .news-thumnail1 img {
  max-width: 100%;
  height: auto;
}

.news-thumnail img a:hover, .news-thumnail1 img a:hover {
  background: none;
}

.news-thumnail p img {
  text-align: center;
}

.news-date {
  width: 100px;
  font-size: 12px;
  color: #b4b4b4;
}

.news-txt {
  width: 550px;
  display: table-cell;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.news-txt1 {
  width: 100%;
  display: table-cell;
  margin: 0;
  padding: 0;
  vertical-align: top;
  font-size: 12px;
  line-height: 200%;
}

.news-txt a, .news-txt1 a {
  color: #333;
  text-decoration: none;
}

.news-txt a:hover, .news-txt1 a:hover {
  color: #a3ce71;
}

.category {
  color: #fff;
  font-size: 10px;
  padding: 7px 20px 5px;
  text-align: center;
  background-color: #b4b4b4;
  margin: 0 0 0 20px;
}

.category1 {
  color: #fff;
  font-size: 8px;
  font-weight: normal;
  padding: 7px 10px 5px;
  text-align: center;
  background-color: #b4b4b4;
  margin: 0 20px 0 0;
}

.newsrelease {
  color: #ad94b4;
  font-size: 10px;
  padding: 7px 20px 5px;
  text-align: center;
  border: 1px solid #ad94b4;
  margin: 0 0 0 20px;
}

.report {
  color: #70a2cf;
  font-size: 10px;
  padding: 7px 20px 5px;
  text-align: center;
  border: 1px solid #70a2cf;
  margin: 0 0 0 20px;
}

.media {
  color: #dd8271;
  font-size: 10px;
  padding: 7px 20px 5px;
  text-align: center;
  border: 1px solid #dd8271;
  margin: 0 0 0 20px;
}

.event {
  color: #eaaa6b;
  font-size: 10px;
  padding: 7px 20px 5px;
  text-align: center;
  border: 1px solid #eaaa6b;
  margin: 0 0 0 20px;
}

/* RECRUIT */

.tb-recruit {
  margin: 20px 0 100px;
  display: table;
  border: 0;
}

.th-recruit {
  width: 150px;
  font-weight: bold;
  padding: 35px 20px 20px 20px;
  background-color: #f8f8f8;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #e6e6e6;
  text-align: left;
  display: table-cell;
}

.td-recruit {
  padding: 35px 20px 20px 20px;
  display: table-cell;
  border: 0;
}

/* 会社情報 */

.tb-company {
  width: 100%;
  margin: 20px 0 50px;
  border: 0;
  font-size: 14px;
  line-height: 200%;
  font-weight: normal;
}

.th-company {
  width: 200px;
  padding: 25px 20px 20px 20px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid #e6e6e6;
  text-align: left;
  display: table-cell;
}

.td-company {
  padding: 25px 20px 20px 20px;
  display: table-cell;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid #e6e6e6;
}

/* 交互に表示 */

.contents-wrap1 {
	display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -moz-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
	justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
	margin: 2rem 0;
}

.contents-wrap2 {
	display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -moz-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
	justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
	margin-bottom: 0;
}

.contents-wrap1:nth-child(odd) {
	flex-direction: row-reverse;
}

.contents-wrap2:nth-child(even) {
	flex-direction: row-reverse;
}

.contents-text {
	width: 50%;
}

.contents-img {
	width: 45%;
  margin: 0 30px 30px 0;
}

.contents-text {
	margin-bottom: 2rem;
}

.contents-img img {
	display: block;
	width: 100%;
	height: auto;
}

/* 社員紹介 */

#interview-tl {
    position: relative;
    padding: 0.5em 0 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#interview-tl::before {
    content: '';
    position: absolute;
    top: 0;
    left: 6px;
    height: 100%;
    width: 2px;
    background: #a3ce71;
}

.interview-tl-block {
    position: relative;
    margin: 1em 0;
    height: auto;
}

.interview-tl-block:after {
    content: "";
    display: table;
    clear: both;
}

.interview-tl-block:first-child {
    margin-top: 0;
}

.interview-tl-block:last-child {
    margin-bottom: 0;
}

.interview-tl-circle {
    position: absolute;
    top: 4px;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #a3ce71;
    background: #fff;
}

.interview-tl-content {
    position: relative;
    margin: 0 0 0 30px;
    padding: 0;
    width: 100%;
}

.interview-intro {
  position: relative;
  margin: 5em 0 2em;
  padding: 7em 0 2em;
  background-color: #f8f8f8;
}

.interview-intro .interview-img {
  position: absolute;
  top: 3.5em;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  transform: translateY(-50%);
}

.interview-txt {
  width: 600px;
  margin: 0 auto;
  padding: 0;
  font-size: 10px;
  line-height: 180%;
}

.interview-pager {
  display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -moz-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
  justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
  position: relative;
}

.interview-pager li {
  border: 1px solid #a3ce71;
}

.interview-pager li:first-child {
  margin: 0 10px 0 0;
}

.interview-pager li:last-child {
  margin: 0 0 0 10px;
}

.interview-pager li:first-child:before {
  content: "<";
  position: absolute;
  top: 50%;
  left: 20px;
  margin: -8px 0 0 0;
}

.interview-pager li:last-child:before {
  content: ">";
  position: absolute;
  top: 50%;
  right: 20px;
  margin: -8px 0 0 0;
}

.interview-pager li a {
  color: #333;
  height: 100%;
  display: block;
  text-decoration: none;
  padding: 10px 25px 0 25px;
}

.interview-pager li a:hover {
  color: #a3ce71;
  height: 100%;
}

.interview-pager li a p {
  margin: 0;
  padding: 10px 25px 0 25px;
}

.interview-pager li:first-child a p {
  text-align: right;
}

.interview-profile {
  width: 40%;
  margin: 0 auto;
  color: #fff;
  background-color: #a3ce71;
  padding: 35px 20px 15px 20px;
  position: absolute;
  top: 400px;
  left: 0;
}

.interview-profile p {
  font-size: 12px;
  font-weight: normal;
  line-height: 180%;
}

/* RECRUIT */

.rec_bg {
  position: relative;
  margin: 0 0 30px 0;
  width: 100%;
  height: 360px;
  background: url(images/rec_bg.jpg) center center / cover no-repeat;
}

.rec_bg .rec_txt {
  position: absolute;
  top: 150px;
  right: 0;
  left: 0;
  width: 1000px;
  margin: 0 auto;
  padding: 0;
}

/* ABOUT */

.about_bg {
  position: relative;
  margin: 0 0 30px 0;
  width: 100%;
  height: 360px;
  background: url(images/about_bg.jpg) center center / cover no-repeat;
}

.about_bg .about_txt {
  position: absolute;
  top: 180px;
  right: 0;
  left: 0;
  width: 1000px;
  margin: 0 auto;
  padding: 0;
}

/* environment */

.tf-ul {
  width: 1000px;
  margin: 0 auto;
  padding: 0 0 40px 0;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
  justify-content: center;
}

.tf-li {
  margin: 0 20px 20px 0;
  font-size: 12px;
  line-height: 160%;
  text-align: center;
}

.tf-li:after {
  content: '|';
  padding: 0 0 0 20px;
}

.tf-li:last-child:after {
  content: '';
  padding: 0 0 0 20px;
}

.tf-li a {
  color: #333;
  padding: 0;
  text-decoration: none;
}

.tf-li a:hover {
  color: #a3ce71;
}

/* DATA */

ul.data-comment {
    width: 100%;
    border: 1px solid #E6E6E6;
    margin: 20px 0 80px;
    padding: 40px 40px 30px 60px;
    font-size: 14px;
    line-height: 200%;
}

ul.data-comment li {
    text-indent: 0;
    margin: 0 0 0.5em 0;
    padding: 0 0.5em;
    position: relative;
}

ul.data-comment li:before {
    content: "●";
    color: #a3ce71;
    position: absolute;
    left: -0.75em;
}

@media screen and (max-width: 768px) {

  body {
    font-size: 12px;
    line-height: 200%;
  }

  /* PC表示・SP非表示 */

  .pc {
    display: none;
  }

  .sp {
    display: block;
  }

  /* 文字（サイズ） */

  p {
    margin: 0 0 20px 0;
  }

  p.p1 {
    margin: 0 0 10px 0;
  }

  .box1 p, .contents-wrap1 p, .box6 p, .bg-box3 p {
    font-size: 12px;
    line-height: 180%;
  }

  .txt12, .txt12a {
    font-size: 10px;
  }

  .txt16 {
    font-size: 12px;
    line-height: 180%;
  }

  .txt22 {
    font-size: 16px;
    line-height: 160%;
  }

  .txt28 {
    font-size: 20px;
    font-weight: normal;
    line-height: 140%;
  }

  .txt32 {
    font-size: 22px;
    line-height: 140%;
  }

  .txt40 {
    font-size: 24px;
    line-height: 140%;
  }

  .txt50 {
    font-size: 30px;
    line-height: 120%;
  }

  .txt80 {
    font-size: 40px;
  }

  /* ライン */

  .hr1 {
    margin: 30px 0 40px;
  }

/* ボタン */

  .btn3 {
    font-size: 16px;
  }

  .btn3 a {
    padding: 25px 0 18px;
  }

  /* ヘッダー */

  header {
    height: 60px;
    padding: 20px 10px 15px;
  }

  :target:before {
     height: 80px;/* ヘッダの高さ = 50px */
     margin: -80px 0 0;/* ヘッダの高さ = 50px */
  }

/************ SPメニュー ************/

.sp-logo {
  position: absolute;
  top: 0;
  left: 0;
}

#nav-drawer {
  position: relative;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: middle;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 3px;/*線の太さ*/
    width: 25px;/*長さ*/
    border-radius: 3px;
    background: #555;
    display: block;
    content: '';
    right: 0;
    cursor: pointer;
}

#nav-open span:before {
    bottom: -8px;
}

#nav-open span:after {
    bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
    display: none;/*はじめは隠しておく*/
    position: fixed;
    z-index: 99;
    top: 0;/*全体に広がるように*/
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;/*最前面に*/
    width: 90%;/*左側に隙間を作る*/
    max-width: 260px;/*最大幅*/
    height: 100%;
    background: #fff;/*背景色*/
    transition: .3s ease-in-out;/*滑らかに表示*/
    -webkit-transform: translateX(105%);
    transform: translateX(105%);/*右に隠しておく*/
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
    display: block;/*カバーを表示*/
    opacity: .5;
}

#nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);/*中身を表示*/
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

/* SPメニューリスト*/

.spmenu-ul {
  margin: 0;
  padding: 0;
}

.spmenu-ul li {
  border-bottom: 1px solid #333;
  margin: 0;
  padding: 0;
  position: relative;
}

.spmenu-ul li:first-child {
  border-bottom: none;
  margin: 0;
  padding: 0;
  position: relative;
  height: 50px;
}

.spmenu-ul li:before {
  content: ">";
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -12px;
  font-size: 14px;
}

header ul {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0 10px;
  font-size: 16px;
  display: block;
}

header ul li:nth-child(2) {
  width: 100%;
  margin: 0;
  padding: 0;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

header ul li {
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #333;
}

header ul li:first-child {
  height: 60px;
  margin: 0;
  padding: 0;
}

header ul li a {
  display: block;
  padding: 15px 0 12px 10px;
}

header ul li a:hover {
  color: #fff;
  background-color: #a5ce3f;
}

  /* フッター */

  footer {
    width: 100%;
    background-color: #333;
    padding: 70px 0 20px;
    font-size: 12px;
    font-weight: normal;
  }

  .footer-menu1 {
    flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
    width: 100%;
    margin: 20px auto;
    padding: 0 20px;
    justify-content: center;
  }

  .footer-menu1 dl {
    width: auto;
    margin: 0 20px 0 0;
  }

  .footer-menu1 dt {
    margin: 10px 0 30px;
    font-size: 14px;
  }

  .footer-menu1 dd a {
    display: none;
    padding: 0;
  }

  ul.footer-menu2 {
    flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
  }

  ul.footer-menu2 li:last-child {
    margin: 10px auto 0;
  }

  /* hタグ */

  h1.h1 {
    font-size: 26px;
    padding: 25px 0 20px;
  }

  h1.h1 p {
    font-size: 10px;
    margin: 0;
  }

  /* パンくず */

  .breadcrumb {
    width: 100%;
    padding: 10px 20px 7px;
    font-size: 10px;
  }

  /* 背景 */

  .bg {
    margin: 55px 0 0 0;
  }

  .bg-box1 {
    margin: 0;
    padding: 60px 0;
  }

  .bg-box2, .bg-box3 {
    padding: 30px 20px;
  }

  /* ボックス */

  .box1 {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }

  .box2 {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: block;
  }

  .box2 .box2-1-1 {
    width: 100%;
    margin: 0;
  }

  .box2 .box2-1-2 {
    width: 100%;
  }

  .box2-2:nth-child(odd), .box2-2:nth-child(even) {
    width: 100%;
    margin: 0 0 20px 0;
  }

  .box2-2 .obi a {
    font-size: 14px;
    padding: 15px 10px 10px 15px;
  }

  .box3 {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px 40px 20px;
    display: block;
  }

  .box3-1 p {
    line-height: 150%;
    margin: 2px 0 0 0;
    padding: 0;
  }

  .box3 .box3-1:nth-child(odd), .box3 .box3-1:nth-child(even) {
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0;
  }

  .box4, .box5, .box10 {
    width: 100%;
    padding: 0 20px;
  }

  .box4 .box4-1:nth-child(odd) {
    width: 45%;
    margin: 0 10px 20px 0;
    padding: 0;
  }

  .box4 .box4-1:nth-child(even) {
    width: 45%;
    margin: 0 0 20px 10px;
    padding: 0;
  }

  .box4 .box4-2:nth-child(odd) {
    width: 45%;
    margin: 0 10px 20px 0;
  }

  .box4 .box4-2:nth-child(even) {
    width: 45%;
    margin: 0 0 20px 10px;
  }

  .box4-3, .box4-3:nth-child(3n) {
    width: 100%;
    margin: 20px 0;
    font-size: 12px;
    line-height: 180%;
  }

  .box5-1, .box5-2, .box5-3 {
    width: 40%;
    margin: 0 5px 10px 5px;
    font-size: 10px;
  }

  .box5-5 {
    width: 40%;
    margin: 0 5px 10px 5px;
    font-size: 12px;
  }

  .box6 {
    width: 100%;
    margin: 0 auto 20px;
    padding: 60px 20px 20px 20px;
  }

  ul.box7 {
    display: block;
  }

  ul.box7 li {
    width: 100%;
  }

  ul.box7-1 {
    width: 100%;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  ul.box7-1 li {
    margin: 0 auto;
  }

  ul.box7-1 li.li-order2 {
    width: 100%;
    order: -1;
    -webkit-order: -1;
  }

  ul.box7-1 li.li-order2 h3 {
    padding: 0;
  }

  ul.box7-2 {
    display: block;
  }

  ul.box7-2 li {
    width: 100%;
  }

  ul.box7-2 li:first-child {
    border-right: 0;
    border-bottom: 2px solid #e6e6e6;
    margin: 0 0 40px 0;
    padding: 0 0 20px 0;
  }

  ul.box8-1 li {
    width: 100%;
    list-style: none;
    margin: 0 30px 20px 30px;
    padding: 0;
    background-color: #fff;
  }

  ul.box8-2 {
    display: block;
  }

  ul.box8-2 li {
    width: 100%;
  }

  .box9 {
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 20px 0 0 0;
  }

  .box10 li:first-child {
    width: 82%;
  }

  /* トップページ */

  .top_bg {
    position: relative;
    margin: 60px 0 0 0;
    width: 100%;
    height: 0;
    padding-top: calc(800 / 1000 * 100%);
    background: url(images/sp/top_main.jpg) center center / cover no-repeat;
  }

  .top_bg .top_txt {
    top: 30px;
    left: 0;
    width: 100%;
    padding: 15px;
  }

  .top_bg .top_txt p {
    line-height: 160%;
  }

  .top_bg .top_txt h2 {
    margin: 0 0 10px 0;
  }

  .top_bg .top_txt h2 img {
    width: 80%;
    height: auto;
  }

  .top_hoiku_bg {
    padding-top: calc(888 / 1000 * 100%);
    background: url(images/sp/top_hoiku.jpg) center center / cover no-repeat;
  }

  .top_kaigo_bg {
    padding-top: calc(888 / 1000 * 100%);
    background: url(images/sp/top_kaigo.jpg) center center / cover no-repeat;
  }

  .top_fukushi_bg {
    padding-top: calc(888 / 1000 * 100%);
    background: url(images/sp/top_fukushi.jpg) center center / cover no-repeat;
  }

  .top_manabi_bg {
    padding-top: calc(888 / 1000 * 100%);
    background: url(images/sp/top_manabi.jpg) center center / cover no-repeat;
  }

  .top_hoiku_bg .top_hoiku_txt, .top_fukushi_bg .top_fukushi_txt {
    top: 110px;
    width: 70%;
    margin: 0 0 0 20px;
    padding: 30px 20px 20px 20px;
    background-color: rgba(255,255,255,0.5);
  }

  .top_kaigo_bg .top_kaigo_txt, .top_manabi_bg .top_manabi_txt {
    top: 110px;
    width: 80%;
    margin: 0 20px 0 auto;
    padding: 30px 20px 20px 20px;
    background-color: rgba(255,255,255,0.5);
  }

  .top_hoiku_bg .top_hoiku_txt h3, .top_fukushi_bg .top_fukushi_txt h3, .top_kaigo_bg .top_kaigo_txt h3, .top_manabi_bg .top_manabi_txt h3 {
    margin: 0 0 10px 0;
  }

  .top_hoiku_bg .top_hoiku_txt p, .top_fukushi_bg .top_fukushi_txt p, .top_kaigo_bg .top_kaigo_txt p, .top_manabi_bg .top_manabi_txt p {
    font-size: 11px;
    line-height: 160%;
  }

  /* モーダルウィンドウ */

  .modal-window .modal-inner {
    width: 90%;
    margin-left: -180px;
    margin-right: 20px;
  }

  .modal-window .modal-inner table td {
    display: block;
    padding: 0 0 10px 0;
  }

  .modal-window .modal-inner table td.td-img {
    width: 100%;
  }

  .modal-window .modal-close:before {
    padding: 0 20px;
  }

  .modal-window .modal-close:after {
    top: 80px;
    margin-left: -180px;
  }

  /* NEWS */

  .news-bg {
    width: 100%;
    padding: 0 0 50px 0;
  }

  .news {
    width: 100%;
    padding: 40px 0 20px;
  }

  .news-thumnail {
    width: 100%;
    margin: 0 0 20px 0;
    display: block;
    text-align: center;
  }

  .news-date {
    margin: 0 0 10px 0;
  }

  .news-txt, .news-txt1 {
    width: 100%;
    display: block;
  }

  .category {
    font-size: 8px;
    padding: 7px 10px 5px;
  }

  .category1 {
    margin: 10px 20px 0 0;
  }

  /* RECRUIT */

  .tb-recruit {
    margin: 20px 0 40px;
  }

  .th-recruit {
    width: 100%;
    padding: 15px 20px 10px 20px;
    display: block;
    border: 0;
  }

  .td-recruit {
    width: 100%;
    padding: 25px 0 20px;
    display: block;
  }

  /* 会社情報 */

  .th-company {
    width: 100%;
    padding: 25px 0 0 0;
    border-bottom: none;
    display: block;
  }

  .td-company {
    padding: 25px 0 20px 0;
    display: block;
    border-bottom: 1px solid #e6e6e6;
  }

  /* 交互に表示 */

  .contents-wrap1, .contents-wrap2 {
  	display: block;
  }

  .contents-text {
  	width: 100%;
  }

  .contents-img {
  	width: 100%;
    margin: 0 0 30px 0;
  }

  /* 社員紹介 */

  .interview-tl-content {
      padding: 0 20px 0 0;
      width: 100%;
  }

  .interview-intro {
    padding: 7em 0 2em;
  }

  .interview-txt {
    width: 100%;
    padding: 0 20px;
  }

  .interview-pager li:first-child:before {
    left: 10px;
  }

  .interview-pager li:last-child:before {
    right: 10px;
  }

  .interview-pager li a {
    padding: 10px 15px 20px 15px;
  }

  .interview-pager li:first-child a p, .interview-pager li:last-child a p {
    padding: 10px 15px 5px 15px;
  }

  .interview-profile {
    width: 80%;
    height: 35%;
    margin: 0 auto;
    top: 220px;
    right: 0;
    left: 0;
  }

  .interview-profile p {
    font-size: 10px;
    font-weight: normal;
    line-height: 180%;
  }

  /* RECRUIT */

  .rec_bg {
    height: 200px;
  }

  .rec_bg .rec_txt {
    top: 40px;
    width: 100%;
    padding: 0 20px;
  }

  /* environment */

  .tf-ul {
    width: 100%;
    padding: 0;
    justify-content: flex-start;
  }

  .tf-li:nth-child(odd) {
    width: 65%;
    margin: 0 0 15px 0;
    text-align: left;
  }

  .tf-li:nth-child(even) {
    width: 35%;
    margin: 0 0 15px 0;
    text-align: left;
  }

  .tf-li:before {
    content: '・';
    padding: 0;
  }

  .tf-li:after, .tf-li:last-child:after {
    content: none;
    padding: 0;
  }

  /* ABOUT */

  .about_bg {
    height: 160px;
  }

  .about_bg .about_txt {
    top: 60px;
    width: 100%;
    padding: 0 20px;
  }

  .tb-company {
    font-size: 12px;
    line-height: 180%;
  }

  /* DATA */

  ul.data-comment {
      margin: 10px 0 60px;
      font-size: 12px;
      line-height: 180%;
  }

  ul.data-comment li {
      text-indent: 0;
      margin: 0 0 0.5em 0;
      padding: 0 0.5em;
      position: relative;
  }

  ul.data-comment li:before {
      content: "●";
      color: #a3ce71;
      position: absolute;
      left: -0.75em;
  }

}
